body{
	background: #F4F7F8;
	margin: 0;
	padding: 0;
	position: relative;
}
	
#header{
	width: 1400px;
	height: 400px;
	background: url('images/header/header.png');
	padding-top: 0;
	position: relative;
}

#details{
	position: absolute;
	top:30px;
	left: 400px;
	width: 600px;
	margin: 0 auto;
}

/* Header fonts */
#name{
	font-family: 'Roboto Slab', serif;
	font-size: 3em;
	color: rgb(255, 255, 255);
	text-shadow: .1em .1em 0.15em rgb(150, 150, 150);
}

#name span{
	font-weight: bold;
}

#path-span{
	font-size: 1.5em;
}

#path{
	font-family: Ubuntu, sans-serif;
	font-size: 2em;
	color: rgb(100, 100, 100);
}

#quote{
	font-family: 'Meie Script', cursive;
	font-size: 2em;
}

.quote{
	color: rgb(120, 120, 120);
}


/* Navigation Menu */
#main-nav{
	width: 600px;
	margin: 0 auto;
}

li{
	display: inline-block;
	font-family: 'Roboto Slab', 'Ubuntu', sans-serif;
	font-size: 14px;

	padding: 5px;
	padding-left: 7px;
	padding-right: 8px;
	
	border: 1px solid rgb(190, 190, 190);
	border-radius: 2px;

	color: rgb(58, 58, 58);
}

.top:hover{
	color: rgb(192, 0, 0);
	border-top: none;
	border-right: none;
	border-left: none;
	border-top: 2px solid rgb(200, 255, 50);
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}

.bottom:hover{
	color: rgb(192, 0, 0);
	border-bottom: none;
	border-right: none;
	border-left: none;
	border-bottom: 2px solid rgb(200, 255, 50);
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

.top:active{
	color: rgb(192, 0, 0);
	border-top: none;
	border-right: none;
	border-left: none;
	border-top: 2px solid rgb(200, 255, 50);
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}

.bottom:active{
	color: rgb(192, 0, 0);
	border-bottom: none;
	border-right: none;
	border-left: none;
	border-bottom: 2px solid rgb(200, 255, 50);
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

li a{
	color: rgb(192, 0, 0);
	text-decoration: none;
}

li:hover{
	color: rgb(0, 200, 200);
}

li:active{
	color: rgb(200, 200, 0);
}

hr{
	color: rgb(192, 192, 192);
	opacity: .4;
}


a{
	text-decoration: none;
	color: DodgerBlue;
}

/*Profile Card*/
#profile-card{
	box-sizing: border-box;

	width: 300px;
	font-family: 'Ubuntu', sans-serif;

	border: 5px solid rgba(0, 206, 209, .4);
	border-radius: 3px;

	margin-top: 30px;
	padding-top: 10px;
	padding-right: 50px;
	padding-bottom: 10px;
	padding-left: 20px;

	position: absolute;
	right: 10px;
}

#name-div{
	font-size: 1.5em;
}

#profile-pics{
	position: relative;
}

#side-pics{
	position: absolute;
	left: 117px;
	top: 3px;
}

#content{
	font-size: 16px;
}

/*Card Form*/
#card-form{
	width: 300px;
	position: absolute;
	left: 350px;
	top: 500px;
}

legend{
	font-family: 'Roboto Slab', serif;
}

fieldset{
	border-color: DodgerBlue;
	border-radius: 4px;
}

label{
	display: block;
	padding-top: 10px;
	margin-bottom: 3px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
}

label:hover{
	color: rgb(150, 150, 150);
	font-size: 13px;
}

#full-name:focus{
	box-shadow: 0 0 2px #ff0000;
}

input{
	height: 20px;
	font-family: 'Ubuntu', sans-serif;
}

#full-name{
	font-size: 14px;
}

.digits{
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	width: 35px;
}

#card-number{
	border: 1px solid DodgerBlue;
	background-color: #fff;
	padding-left: 5px;
	padding-right: 5px;
}

#card-number:hover{
	box-shadow: 2px 2px 2px #ff0000;
	width: 180px;
}

.digits:focus{
	box-shadow: 2px 2px 2px #ff0000;
	border-radius: 4px solid DodgerBlue;
}

#n1, #n2, #n3, #n4{
	border: 0;
}

#n2, #n3, #n4{
	padding-left: 0;
}

#n1, #n2, #n3{
	padding-right: 4px;
}

.dash{
	padding-right: 0;
	margin-right: 0;
	font-family: 'Ubuntu', sans-serif;
}

#month, #year{
	font-size: 14px;
}

#expiration{
	padding-bottom: 5px;
}

input[type="submit"]{
	width: 130px;
	height: 30px;
	margin-left: 60px;
	color: #fff;
	background-color: DodgerBlue;
	font-size: 14px;
	margin-top: 7px;

	border: 1px solid rgb(200, 200, 200);
	box-shadow: -1px -1px 1px  1px rgb(192, 192, 192);
	position: absolute;
	right: 10px;
	bottom: 16px;
}

input[type="submit"]:hover{
	box-shadow: 0 0 2px #ff0000;
}

.footer{
	font-size: 1.2em;
	clear: left;
	width: 40%;
	margin: 0 auto;
	border-top: 1px solid grey;
	border-radius: 
}

