/*Color*/
#color{
	width: 250px;
	height: 380px;
	border: 1px solid rgb(192, 192, 192);
	border-radius: 4px;
	margin-top: 30px;
	padding-left: 25px;
	position: absolute;
	left: 380px;
	background-color: rgb(255, 255, 255);
	font-family: 'Ubuntu', sans-serif;
}

legend{
	font-family: 'Roboto Slab', serif;
	font-size: 16px;
	font-weight: 500;

	position: absolute;
	top: 20px;
	left: 87px;

	text-shadow: 2px 2px 2px skyblue;
}

legend #a{
	color: rgb(255, 0, 0);
}

legend #b{
	color: rgb(0, 255, 0);
}

legend #c{
	color: rgb(0, 0, 255);
}

label[for="red"]{
	position: absolute;
	left: 77px;
}

label[for="green"]{
	position: absolute;
	left: 72px;
}

label[for="blue"]{
	position: absolute;
	left: 75px;
}

label[for="alpha"]{
	color: rgb(192, 192, 192);
	position: absolute;
	left: 72px;
}

label[for="output"]{
	color: rgb(192, 192, 192);
	position: absolute;
	left: 67px;
}

fieldset{
	margin: 0;
	border: none;
	padding: 0
}

#colors{
	position: absolute;
	top: 50px;
	left: 47px;
}

.RGB{
	font-size: 14px;
}

input{
	border: 1px solid rgb(255, 255, 255);
	border-radius: 2px;
	margin-bottom: 10px;
	margin-left: 30px;
}

#redbox label{
	color: #ff0000;
	
}

#greenbox label{
	color: #00ff00;
}

#bluebox label{
	color: #0000ff;
}

label[for="red"]:hover{
	color: rgb(255, 0, 0);
}

label[for="green"]:hover{
	color: rgb(100, 100, 100);
}

label[for="blue"]:hover{
	color: rgb(100, 100, 100);
}

label[for="output"]:hover{
	color: rgb(100, 100, 100);
}

#red{
	border: 1px solid #ff0000;
}

#green{
	border: 1px solid #00ff00;
}

#blue{
	border: 1px solid #0000ff;
}

#alpha{
	border: 1px solid rgb(192, 192, 192);
}

label[for="output"] #d{
	color: rgb(255, 0, 0);
}

label[for="output"] #e{
	color: rgb(0, 255, 0);
}

label[for="output"] #f{
	color: rgb(0, 0, 255);
}


