/*Login*/
#login{
	width: 350px;
	border: 1px solid rgb(192, 192, 192);
	border-radius: 4px;
	margin-top: 30px;
	position: absolute;
	left: 350px;
	background: rgb(20, 200, 220);
}

fieldset{
	border: none;
	margin: 0;
	padding: 0;
	display: inline-block;
	margin-left: 90px;
}

legend{
	color: rgb(245, 245, 245);
	margin-top: 20px;
	margin-bottom: 15px;
	margin-left: 28px;
	word-spacing: 5px;
	font-size: 15px;
}

#legend-login{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	border: none;
}

legend span{
	font-family: 'Roboto Slab', serif;
	font-size: 16px;
	font-weight: 600;
	padding-left: 1px;
	padding-right: 1px;
	box-shadow: 0 0 1px 1px rgb(255, 255, 0);
}



input{
	border: 1px solid rgb(192, 192, 192);
	width: 170px;
	height: 30px;
}

input[type="text"]{
	border: 2px solid rgb(0, 100, 255);
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom: 0;
}

input[type="password"]{
	margin-top: 0;
	border: 2px solid rgb(0, 100, 255);
	border-top: 1px solid rgb(100, 100, 100);
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	margin-bottom: 10px;
}

input[placeholder]{
	padding-left: 10px;
	padding-right: 10px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
}

input[value]{
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	padding-left: 10px;
}

input[type="submit"]{
	border-radius: 3px;
	border: none;
	margin-left: 11px;
	margin-bottom: 20px;
	font-family: 'Ubuntu', serif;
	font-weight: 400;
	font-size: 13px;
	text-shadow: 0 0 1px DodgerBlue;
	padding-left: 5px;
}

input[type="text"]:hover, input[type="text"]:focus{
	border: 2px solid rgb(0, 255, 100);
}

input[type="password"]:hover, input[type="password"]:focus{
	border: 2px solid rgb(0, 255, 100);
}

input[type="submit"]:hover{
	background-color: DodgerBlue;
	color: rgb(255, 255, 255);
}

.footer{
	font-size: 1.2em;
	clear: left;
	width: 40%;
	margin: 0 auto;
	border-top: 1px solid grey;
	border-radius: 
}