body{
	background: #f4F7f8;
	margin: 0;
	padding: 0;
	position: relative;
}
	
#header{
	width: 1400px;
	height: 400px;
	background: url('images/header/header.png');
	padding-top: 0;
	position: relative;
}

#details{
	position: absolute;
	top:30px;
	left: 400px;
	width: 600px;
	margin: 0 auto;
}

/* Header fonts */
#name{
	font-family: 'Roboto Slab', serif;
	font-size: 3em;
	color: rgb(255, 255, 255);
	text-shadow: .1em .1em 0.15em rgb(150, 150, 150);
}

#name span{
	font-weight: bold;
}

#path-span{
	font-size: 1.5em;
}

#path{
	font-family: Ubuntu, sans-serif;
	font-size: 2em;
	color: rgb(100, 100, 100);
}

#quote{
	font-family: 'Meie Script', cursive;
	font-size: 2em;
}

.quote{
	color: rgb(120, 120, 120);
}

hr{
	color: rgba(192, 192, 192, 0.4);
}

/* Navigation Menu */
#main-nav{
	width: 600px;
	margin: 0 auto;
}

li{
	display: inline-block;
	font-family: 'Roboto Slab', 'Ubuntu', sans-serif;
	font-size: 14px;

	padding: 5px;
	padding-left: 7px;
	padding-right: 8px;
	
	border: 1px solid rgb(190, 190, 190);
	border-radius: 2px;

	color: rgb(58, 58, 58);
}

.top:hover{
	color: rgb(192, 0, 0);
	border-top: none;
	border-right: none;
	border-left: none;
	border-top: 2px solid rgb(200, 255, 50);
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}

.bottom:hover{
	color: rgb(192, 0, 0);
	border-bottom: none;
	border-right: none;
	border-left: none;
	border-bottom: 2px solid rgb(200, 255, 50);
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

.top:active{
	color: rgb(192, 0, 0);
	border-top: none;
	border-right: none;
	border-left: none;
	border-top: 2px solid rgb(200, 255, 50);
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}

.bottom:active{
	color: rgb(192, 0, 0);
	border-bottom: none;
	border-right: none;
	border-left: none;
	border-bottom: 2px solid rgb(200, 255, 50);
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

li a{
	color: rgb(192, 0, 0);
	text-decoration: none;
}

li:hover{
	color: rgb(0, 200, 200);
}

li:active{
	color: rgb(200, 200, 0);
}

/*Profile Card*/
#profile-card{
	box-sizing: border-box;

	width: 300px;
	font-family: 'Ubuntu', sans-serif;

	border: 5px solid rgba(0, 206, 209, .4);
	border-radius: 3px;

	margin-top: 30px;
	padding-top: 10px;
	padding-right: 50px;
	padding-bottom: 10px;
	padding-left: 20px;

	position: absolute;
	right: 10px;
}

#name-div{
	font-size: 1.5em;
}

#profile-pics{
	position: relative;
}

#side-pics{
	position: absolute;
	left: 116px;
	bottom: 4px;
}

#content{
	font-size: 16px;
}


/*Questionnaire*/

#questionnaire{
	margin-top: 30px;

	width: 320px;
	height: 500px;
	position: absolute;
	left: 300px;
	border: 1px solid rgb(192, 192, 192);
	border-radius: 3px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 15px;
}

legend{
	padding-left: 100px;
	padding-top: 20px;
	font-weight: 600;
	font-size: 16px;
	font-family: "Roboto Slab", serif;
	color: rgba(255, 0, 0, 1);
}

fieldset{
	border: none;
	margin: 0;
	padding: 0;
}

fieldset p{
	padding-left: 30px;
}

label{
	display: block;
	text-align: right;
	padding: 10px;
}

.form-input{
	position: absolute;
	left: 40px;
}

input[type="text"]{
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	opacity: .8;
	width: 210px;
	text-align: left;
	padding-left: 15px;
	height: 25px;
	border: 1px solid rgb(192, 192, 192);
	border-radius: 2px;
}

#submit{
	height: 30px;
	font-size: 14px;
	font-family: 'Roboto Slab', serif;
	font-weight: 500;
	border: 1px solid rgb(192, 192, 192);
	border-radius: 3px;
	position: absolute;
	bottom: 15px;
	left: 130px;
}

#submit[value]{
	color: rgb(0, 100, 255);
	opacity: .7;
}

#submit[value]:hover{
	text-shadow: 0 0 2px rgb(0, 100, 255);
}

#other{
	opacity: 0.5;
}

.footer{
	font-size: 1.2em;
	clear: left;
	width: 40%;
	margin: 0 auto;
	border-top: 1px solid grey;
	border-radius: 
}