body{
	background: #F4F7F8;
	margin: 0;
	padding: 0;
	position: relative;
}
	
#header{
	width: 1400px;
	height: 400px;
	background: url('images/header/header.png');
	padding-top: 0;
	position: relative;
}

#details{
	position: absolute;
	top:30px;
	left: 400px;
	width: 600px;
	margin: 0 auto;
}

/* Header fonts */
#name{
	font-family: 'Roboto Slab', serif;
	font-size: 3em;
	color: rgb(255, 255, 255);
	text-shadow: .1em .1em 0.15em rgb(150, 150, 150);
}

#name span{
	font-weight: bold;
}

#path-span{
	font-size: 1.5em;
}

#path{
	font-family: Ubuntu, sans-serif;
	font-size: 2em;
	color: rgb(100, 100, 100);
}

#quote{
	font-family: 'Meie Script', cursive;
	font-size: 2em;
}

.quote{
	color: rgb(120, 120, 120);
}

/* Navigation Menu */
#main-nav{
	width: 600px;
	margin: 0 auto;
}

li{
	display: inline-block;
	font-family: 'Roboto Slab', 'Ubuntu', sans-serif;
	font-size: 14px;

	padding: 5px;
	padding-left: 7px;
	padding-right: 8px;
	
	border: 1px solid rgb(190, 190, 190);
	border-radius: 2px;

	color: rgb(58, 58, 58);
}

.top:hover{
	color: rgb(192, 0, 0);
	border-top: none;
	border-right: none;
	border-left: none;
	border-top: 2px solid rgb(200, 255, 50);
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}

.bottom:hover{
	color: rgb(192, 0, 0);
	border-bottom: none;
	border-right: none;
	border-left: none;
	border-bottom: 2px solid rgb(200, 255, 50);
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

.top:active{
	color: rgb(192, 0, 0);
	border-top: none;
	border-right: none;
	border-left: none;
	border-top: 2px solid rgb(200, 255, 50);
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}

.bottom:active{
	color: rgb(192, 0, 0);
	border-bottom: none;
	border-right: none;
	border-left: none;
	border-bottom: 2px solid rgb(200, 255, 50);
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

li a{
	color: rgb(192, 0, 0);
	text-decoration: none;
}

li:hover{
	color: rgb(0, 200, 200);
}

li:active{
	color: rgb(200, 200, 0);
}

hr{
	color: rgb(192, 192, 192);
	opacity: .4;
}


/*Profile Card*/
#profile-card{
	box-sizing: border-box;

	width: 300px;
	font-family: 'Ubuntu', sans-serif;

	border: 5px solid rgba(0, 206, 209, .4);
	border-radius: 3px;

	margin-top: 30px;
	padding-top: 10px;
	padding-right: 50px;
	padding-bottom: 10px;
	padding-left: 20px;

	position: absolute;
	right: 10px;
}

#name-div{
	font-size: 1.5em;
}

#profile-pics{
	position: relative;
}

#side-pics{
	position: absolute;
	left: 117px;
	top: 3px;
}

#content{
	font-size: 16px;
}

/*Scheduling Form*/

#scheduler{
	width: 400px;
	margin-left: 350px;
	margin-top: 30px;

}

fieldset{
	margin-left: 60px;
	border: 2px solid yellow;
	border-radius: 3px;
}

legend{
	font-family: 'Roboto Slab', serif;
	font-size: 16px;
	color: rgb(0, 120, 120);
}

legend:hover{
	color: rgb(120, 120, 0);
	font-family: 'Ubuntu', sans-serif;
}

label{
	margin-left: 60px;
	box-sizing: content-box;
	display: block;
	height: 20px;
	width: 100px;
	margin-top: 10px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 500;
	color: rgb(139, 69, 19);
}

label:hover{
	color: rgb(50, 50, 50);
}

input{
	margin-left: 60px;
	border: 2px solid rgb(0, 191, 255);
	border-radius: 3px;
	height: 20px;
	width: 180px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	padding-left: 5px;
}

.field:hover, .field:focus{
	width: 200px;
	box-shadow: 0px 0px 2px #ffff00, 0 2px #ff0000;
}

select{
	margin-left: 60px;
	width: 180px;
	margin-top: 10px;
	border: 2px solid rgb(0, 191, 255);
	border-radius: 3px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
}
}

select:hover{
	box-shadow: 0px 0px 2px #ffff00, 0 2px #ff0000;
}

textarea{
	margin-left: 60px;
	border: 2px solid rgb(0, 191, 255);
	font-family: 'Ubuntu', sans-serif;
	font-size: 12px;
	padding-left: 5px;
}

#date, #time, #email{
	padding-left: 5px;
}

textarea:hover{
	border: 2px solid #ff0000;

}

input, select, input[type="submit"]{
	height: 30px;
}

input[type="submit"]{
	width: 180px;
	position: absolute;
	top: 1000px;
	left: 430px;
}

input[type="submit"]:hover{
	box-shadow: 1px 1px 2px #00ff00;
}

.footer{
	font-size: 1.2em;
	clear: left;
	width: 40%;
	margin: 0 auto;
	border-top: 1px solid grey;
	border-radius: 
}